.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 180px 170px;
}
.services-title{
    position: relative;
}
.services-title h1{
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
}
.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 40px;
    margin-bottom: 80px;
}
.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 30px;
    border:2px solid white;
    transition: 0.4s;
    cursor: pointer;
}
.services-format h3{
    font-size: 28px;
    font-weight: 600;
}
.services-format h2{
    font-size: 38px;
    font-weight: 800p;
    background-color: rgb(153, 255, 0); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-format p{
   color: #d4d4d4;
   font-size: 20px;
   line-height: 30px;
   max-width: 300px;
}
.services-readmore{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}
.services-format:hover{
    border: 2px solid  greenyellow;
    background-image: linear-gradient(45deg, #a71f75,#453fbf);
    transform: scale(1.05);
    transition: 0.4s;
}